<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8' />
  <title></title>
  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
  <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.28.0/mapbox-gl.js'></script>
  <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.28.0/mapbox-gl.css' rel='stylesheet' />
  <style>
        body { margin:0; padding:0; }
        #map { position:absolute; top:0; bottom:0; width:100%; }
    </style>
</head>

<body>

  <div id='map'></div>
  <div class="marker mapboxgl-marker" style="background-image: url(&quot;https://raw.githubusercontent.com/booleanhunter/code-samples/master/blog-posts/how-to-build-your-own-uber-for-x-app/public/images/citizen.png&quot;); width: 50px; height: 50px; transform: translate(720px, 185px);"></div>
<script>
    mapboxgl.accessToken = 'pk.eyJ1IjoiYXl1c2gwMDAiLCJhIjoiY2l3aTZpZTh2MDFmaTJ6cG94ZzZ4dnE3eSJ9.9zdaXHeiwS5WiXD_aAb_ig';
    var map = new mapboxgl.Map({
      container: 'map', // container id
      style: 'mapbox://styles/mapbox/streets-v9', //stylesheet location
      center: [-74.50, 40], // starting position
      zoom: 9 // starting zoom
    });
  </script>

</body>

</html>